<nb-form-field *ngFor="let control of formArray.controls; let idx = index">
  <input
    type="text"
    nbInput
    fullWidth
    [placeholder]="placeholder"
    [formControl]="control"
  />
  <button type="button" nbSuffix nbButton ghost (click)="removeEntry(idx)">
    <nb-icon icon="minus" aria-label="remove"></nb-icon>
  </button>
</nb-form-field>
<button
  type="button"
  nbButton
  ghost
  (click)="addEntry($event)"
  *ngIf="!this.disabled"
>
  <nb-icon icon="plus" aria-label="add"></nb-icon>
</button>
