<ng-container [ngSwitch]="propertyType">
  <div *ngSwitchCase="'separator'" class="spacing">
    <hr />
  </div>
  <div *ngSwitchCase="'str'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <input
      type="text"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    />
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'multistr'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <textarea
      type="text"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    ></textarea>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'token'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <nb-form-field>
      <div nbSuffix class="buttons">
        <button nbButton ghost type="button" (click)="generateToken()">
          <nb-icon icon="sync"></nb-icon>
        </button>
        <button
          nbSuffix
          nbButton
          ghost
          type="button"
          (click)="tokenVisible = !tokenVisible"
        >
          <nb-icon [icon]="tokenVisible ? 'eye' : 'eye-off'"></nb-icon>
        </button>
      </div>
      <input
        [type]="tokenVisible ? 'text' : 'password'"
        nbInput
        fullWidth
        fieldSize="medium"
        [placeholder]="property.title"
        [name]="property.key"
        [(ngModel)]="property.value"
        (ngModelChange)="onChange()"
        [readOnly]="!canEdit"
        [status]="
          externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
        "
        #formControlEl
      />
    </nb-form-field>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <ng-container *ngSwitchCase="'access_token'">
    <app-access-tokens
      [accessTokens]="property.value"
      (accessTokensChange)="
        property.value = $event;
        valueChange.emit({ property: property, value: $event })
      "
      [isAdmin]="isAdmin"
      [isSelf]="isSelf"
      [readOnly]="!canEdit"
    ></app-access-tokens>
  </ng-container>
  <div *ngSwitchCase="'int'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <input
      type="number"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    />
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'bool'" class="form-control-group">
    <nb-checkbox
      fullWidth
      fieldSize="medium"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [disabled]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      >{{ property.title }}</nb-checkbox
    >
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'enum'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <nb-select
      fullWidth
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [disabled]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    >
      <nb-option
        *ngFor="let option of property.values"
        [value]="option.value"
        >{{ option.title }}</nb-option
      >
    </nb-select>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'date'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <input
      nbInput
      [nbDatepicker]="datepicker"
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="dateValue"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    />
    <nb-datepicker #datepicker></nb-datepicker>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'datetime'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <input
      type="datetime"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    />
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <ng-container *ngSwitchCase="'password'">
    <ng-container *ngIf="isNew || registering; else passwordEdit">
      <div class="form-control-group">
        <label class="label" [for]="formControlEl">{{ property.title }}</label>
        <input
          type="password"
          nbInput
          fullWidth
          fieldSize="medium"
          [placeholder]="property.title"
          [name]="property.key"
          [(ngModel)]="property.value"
          (ngModelChange)="onChange()"
          [readOnly]="!canEdit"
          [status]="
            externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
          "
          #formControlEl
        />
        <div *ngIf="!requiredMatch" class="error-message">Required.</div>
        <div *ngIf="!formatMatch && requiredMatch" class="error-message">
          Invalid format, must match {{ property.format_help }}.
        </div>
        <div *ngIf="externalError" class="error-message">
          {{ externalErrorMessage }}
        </div>
      </div>
    </ng-container>
    <ng-template #passwordEdit>
      <app-set-password
        [userId]="userId"
        [isActive]="isActive"
      ></app-set-password>
      <div class="spacing">
        <hr />
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'picture'">
    <ng-container *ngIf="!isNew">
      <app-picture-editor
        [pictureUrl]="property.value"
        [userId]="userId"
        [registrationToken]="registrationToken"
        userName="P"
      ></app-picture-editor>
      <div class="spacing">
        <hr />
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'email'">
    <ng-container *ngIf="isNew || registering; else emailEdit">
      <app-field-editor
        [property]="property"
        overrideType="str"
        [isActive]="isActive"
        (valueChange)="valueChange.emit($event)"
        (validChange)="validChange.emit($event)"
        [externalError]="externalError"
      ></app-field-editor>
      <app-field-editor
        *ngIf="propertiesByKey.email_verified"
        [property]="propertiesByKey.email_verified"
        [isActive]="isActive"
        (valueChange)="valueChange.emit($event)"
        (validChange)="validChange.emit($event)"
        [externalError]="externalError"
      ></app-field-editor>
      <div class="spacing">
        <hr />
      </div>
    </ng-container>
    <ng-template #emailEdit>
      <app-set-email
        [emailProperty]="property"
        [emailVerifiedProperty]="propertiesByKey.email_verified"
        [emailForwardProperty]="propertiesByKey.forward_emails"
        [hasEmailAliasProperty]="propertiesByKey.has_email_alias"
        [emailAliasProperty]="propertiesByKey.email_alias"
        [isActive]="isActive"
        [userId]="userId"
      ></app-set-email>
      <div class="spacing">
        <hr />
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'groups'">
    <app-member-groups-options
      [groups]="property.value"
      (groupsChange)="
        property.value = $event;
        valueChange.emit({ property: property, value: $event })
      "
      [additionalGroups]="additionalGroupProperties"
      (additionalGroupsChange)="valueChange.emit($event)"
      [isAdmin]="isAdmin"
      [isSelf]="isSelf"
      [readOnly]="!canEdit"
    ></app-member-groups-options>
  </ng-container>
</ng-container>
