<ng-container [ngSwitch]="propertyType">
  <div *ngSwitchCase="'str'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <input
      type="text"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    />
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'multistr'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <textarea
      type="text"
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [readOnly]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    ></textarea>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="!formatMatch && requiredMatch" class="error-message">
      Invalid format, must match {{ property.format_help }}.
    </div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'bool'" class="form-control-group">
    <nb-checkbox
      fullWidth
      fieldSize="medium"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [disabled]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      >{{ property.title }}</nb-checkbox
    >
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <div *ngSwitchCase="'enum'" class="form-control-group">
    <label class="label" [for]="formControlEl">{{ property.title }}</label>
    <nb-select
      fullWidth
      [placeholder]="property.title"
      [name]="property.key"
      [(ngModel)]="property.value"
      (ngModelChange)="onChange()"
      [disabled]="!canEdit"
      [status]="
        externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
      "
      #formControlEl
    >
      <nb-option
        *ngFor="let option of property.values"
        [value]="option.value"
        >{{ option.title }}</nb-option
      >
    </nb-select>
    <div *ngIf="!requiredMatch" class="error-message">Required.</div>
    <div *ngIf="externalError" class="error-message">
      {{ externalErrorMessage }}
    </div>
  </div>
  <ng-container *ngSwitchCase="'password'">
    <ng-container *ngIf="isNew || registering; else passwordEdit">
      <div class="form-control-group">
        <label class="label" [for]="formControlEl">{{ property.title }}</label>
        <input
          type="password"
          nbInput
          fullWidth
          fieldSize="medium"
          [placeholder]="property.title"
          [name]="property.key"
          [(ngModel)]="property.value"
          (ngModelChange)="onChange()"
          [readOnly]="!canEdit"
          [status]="
            externalError || !formatMatch || !requiredMatch ? 'danger' : 'basic'
          "
          #formControlEl
        />
        <div *ngIf="!requiredMatch" class="error-message">Required.</div>
        <div *ngIf="!formatMatch && requiredMatch" class="error-message">
          Invalid format, must match {{ property.format_help }}.
        </div>
        <div *ngIf="externalError" class="error-message">
          {{ externalErrorMessage }}
        </div>
      </div>
    </ng-container>
    <ng-template #passwordEdit>
      <app-set-password [userId]="userId"></app-set-password>
      <div class="spacing">
        <hr />
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'picture'">
    <ng-container *ngIf="!isNew">
      <app-picture-editor
        [pictureUrl]="property.value"
        [userId]="userId"
        userName="P"
      ></app-picture-editor>
      <div class="spacing">
        <hr />
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'email'">
    <ng-container *ngIf="isNew || registering; else emailEdit">
      <app-field-editor
        [property]="property"
        overrideType="str"
        (valueChange)="valueChange.emit($event)"
        (validChange)="validChange.emit($event)"
        [externalError]="externalError"
      ></app-field-editor>
      <div class="spacing">
        <hr />
      </div>
    </ng-container>
    <ng-template #emailEdit>
      <app-set-email
        [emailProperty]="property"
        [userId]="userId"
      ></app-set-email>
      <div class="spacing">
        <hr />
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'groups'">
    <app-member-groups
      [groups]="property.value"
      (groupsChange)="valueChange.emit($event)"
      [readOnly]="!canEdit"
    ></app-member-groups>
  </ng-container>
</ng-container>
