<nb-card [nbSpinner]="loading">
  <nb-card-header>
    <span>Users</span>
    <nb-actions *ngIf="!readOnly">
      <nb-action icon="plus" (click)="onAddUserDialog(addUserDialog)"
        >Add</nb-action
      >
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <app-table
      [columns]="(readOnly ? columnsView$ : columnsEdit$) | async"
      [data]="usersData$ | async"
    ></app-table>
  </nb-card-body>
</nb-card>

<ng-template #addUserDialog let-ref="dialogRef">
  <nb-card [nbSpinner]="!(allUsersData$ | async)">
    <nb-card-header>
      <span>Add User</span>
    </nb-card-header>
    <nb-card-body>
      <app-table
        [columns]="columnsView$ | async"
        [data]="allUsersData$ | async"
        (clickItem)="ref.close(); addUserClick($event.data)"
      ></app-table>
    </nb-card-body>
  </nb-card>
</ng-template>
