.clickable-row {
  cursor: pointer;
}

.clickable-header {
  cursor: pointer;
}

.compact-column {
  width: 4em;
}

.compact2-column {
  width: 6em;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.center-cell {
  text-align: center;
}

.no-padding-cell {
  padding: 0;
}
