<nb-card>
  <nb-card-header>
    <ng-container>
      Group
    </ng-container>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading || saving">
    <form (submit)="submit($event)" [formGroup]="form">
      <div class="form-control-group">
        <label class="label" [for]="group_id_el">Group ID</label>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Group ID"
          formControlName="id"
          [status]="form.get('id').valid ? 'basic' : 'danger'"
          #group_id_el
        />
        <div *ngIf="form.get('id').hasError('required')" class="error-message">
          Required.
        </div>
        <div *ngIf="form.get('id').hasError('pattern')" class="error-message">
          Contains invalid characters, allowed characters: 'a'-'z', 'A'-'Z',
          '0'-'9', '_', '.', '+', '-'.
        </div>
        <div
          *ngIf="form.get('id').hasError('groupExists')"
          class="error-message"
        >
          A group with this ID already exists.
        </div>
      </div>

      <div class="form-control-group">
        <label class="label" [for]="group_name_el">Group Name</label>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Group Name"
          formControlName="group_name"
          [status]="form.get('group_name').valid ? 'basic' : 'danger'"
          #group_name_el
        />
        <div
          *ngIf="form.get('group_name').hasError('required')"
          class="error-message"
        >
          Required.
        </div>
      </div>

      <div class="form-control-group">
        <label class="label" [for]="group_notes_el">Notes</label>
        <textarea
          type="text"
          nbInput
          fullWidth
          placeholder="Notes"
          formControlName="notes"
          [status]="form.get('notes').valid ? 'basic' : 'danger'"
          #group_notes_el
        ></textarea>
        <div
          *ngIf="form.get('notes').hasError('required')"
          class="error-message"
        >
          Required.
        </div>
      </div>

      <div class="form-control-group">
        <nb-checkbox
          fullWidth
          formControlName="visible"
          [status]="form.get('visible').valid ? 'basic' : 'danger'"
          >Visible</nb-checkbox
        >
        <div
          *ngIf="form.get('visible').hasError('required')"
          class="error-message"
        >
          Required.
        </div>
      </div>

      <app-member-groups
        formControlName="member_groups"
        [excludeGroups]="[groupId]"
      ></app-member-groups>
      <app-member-users formControlName="members"></app-member-users>

      <button nbButton type="submit" [disabled]="!form.valid || form.pristine">
        <ng-container *ngIf="isNew">Create Group</ng-container>
        <ng-container *ngIf="!isNew">Save Group</ng-container>
      </button>
      <div *ngIf="lastError" class="error-message">
        {{ lastError }}
      </div>
    </form>
  </nb-card-body>
</nb-card>

<pre>{{ form.value | json }}</pre>
<pre>{{ form.get("id").errors | json }}</pre>
