<form (submit)="submit($event)">
  <app-field-editor
    [userId]="userId"
    [property]="emailProperty"
    overrideType="str"
    (valueChange)="onValueChange(emailProperty.key, $event)"
    (validChange)="onValidChange(emailProperty.key, $event)"
    [externalError]="lastError"
  ></app-field-editor>
  <button nbButton type="submit" [disabled]="!valid || !hasChange">
    Set E-Mail Address
  </button>
  <button nbButton type="button" (click)="resendEmailVerification()">
    Resend E-Mail Verification
  </button>
</form>
