<form (submit)="submit($event)">
  <app-field-editor
    [userId]="userId"
    [isActive]="isActive"
    [property]="emailProperty"
    overrideType="str"
    (valueChange)="onValueChange($event.property.key, $event.value)"
    (validChange)="onValidChange(emailProperty.key, $event)"
    [externalError]="lastError"
  ></app-field-editor>
  <app-field-editor
    *ngIf="emailVerifiedProperty"
    [userId]="userId"
    [isActive]="isActive"
    [property]="emailVerifiedProperty"
    (valueChange)="onValueChange($event.property.key, $event.value)"
    (validChange)="onValidChange(emailVerifiedProperty.key, $event)"
  ></app-field-editor>
  <app-field-editor
    *ngIf="emailForwardProperty"
    [userId]="userId"
    [isActive]="isActive"
    [property]="emailForwardProperty"
    (valueChange)="onValueChange($event.property.key, $event.value)"
    (validChange)="onValidChange(emailForwardProperty.key, $event)"
  ></app-field-editor>
  <app-field-editor
    *ngIf="hasEmailAliasProperty"
    [userId]="userId"
    [isActive]="isActive"
    [property]="hasEmailAliasProperty"
    (valueChange)="onValueChange($event.property.key, $event.value)"
    (validChange)="onValidChange(hasEmailAliasProperty.key, $event)"
  ></app-field-editor>
  <app-field-editor
    *ngIf="emailAliasProperty && hasEmailAliasProperty?.value"
    [userId]="userId"
    [isActive]="isActive"
    [property]="emailAliasProperty"
    (valueChange)="onValueChange($event.property.key, $event.value)"
    (validChange)="onValidChange(emailAliasProperty.key, $event)"
  ></app-field-editor>
  <button nbButton type="submit" [disabled]="!valid || !hasChange">
    Save E-Mail
  </button>
  <button
    nbButton
    *ngIf="isAdmin"
    type="button"
    (click)="resendEmailVerification()"
  >
    Resend E-Mail Verification
  </button>
  <button
    nbButton
    *ngIf="isAdmin"
    type="button"
    (click)="resendEmailRegistration()"
  >
    Resend E-Mail Registration
  </button>
</form>
