<nb-card>
  <nb-card-header>
    <ng-container *ngIf="registrationToken">Register</ng-container>
    <ng-container *ngIf="!registrationToken && isNew">
      Create User
    </ng-container>
    <ng-container *ngIf="!registrationToken && !isNew">Profile</ng-container>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading || saving">
    <form (submit)="submit($event)">
      <ng-container *ngFor="let group of profileData?.view_groups">
        <h2>{{ group.title }}</h2>
        <ng-container [ngSwitch]="group.type">
          <ng-container *ngSwitchCase="'default'">
            <ng-container *ngFor="let property of group.properties">
              <app-field-editor
                *ngIf="
                  (property.visible === 'everybody' ||
                    (property.visible === 'self' && (isSelf || isAdmin)) ||
                    (property.visible === 'admin' && isAdmin)) &&
                  (!property.template || (!isNew && !registrationToken))
                "
                [userId]="profileData.user_id"
                [registrationToken]="registrationToken"
                [property]="property"
                [isActive]="activeProperty?.value"
                (valueChange)="onValueChange($event.property.key, $event.value)"
                (validChange)="onValidChange($event.property.key, $event.valid)"
              ></app-field-editor>
            </ng-container>
          </ng-container>
          <app-set-password
            *ngSwitchCase="'password'"
            [userId]="userId"
            [isActive]="activeProperty?.value"
          ></app-set-password>
          <app-set-email
            *ngSwitchCase="'email'"
            [propertyGroup]="group"
            [isActive]="activeProperty?.value"
            [userId]="userId"
          ></app-set-email>
          <app-user-group-edit
            *ngSwitchCase="'groups'"
            [userId]="userId"
            [propertyGroup]="group"
            [isActive]="activeProperty?.value"
            (valueChange)="onValueChange($event.property.key, $event.value)"
            (validChange)="onValidChange($event.property.key, $event.valid)"
          ></app-user-group-edit>
        </ng-container>
        <div class="spacing">
          <hr />
        </div>
      </ng-container>
      <div class="form-control-group">
        <nb-checkbox
          *ngIf="!registrationToken && isNew"
          [(ngModel)]="sendRegistrationLink"
          [ngModelOptions]="{ standalone: true }"
          >Send registration link</nb-checkbox
        >
      </div>
      <button
        nbButton
        type="submit"
        [disabled]="!valid || (!hasChange && !registrationToken)"
      >
        <ng-container *ngIf="registrationToken"
          >Finish Registration</ng-container
        >
        <ng-container *ngIf="!registrationToken && isNew"
          >Create User</ng-container
        >
        <ng-container *ngIf="!registrationToken && !isNew"
          >Save Profile</ng-container
        >
      </button>
      <div *ngIf="lastError" class="error-message">
        {{ lastError }}
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card
  *ngIf="profileData && isAdmin && !isNew && !isSelf && !registrationToken"
>
  <nb-card-header>Delete User</nb-card-header>
  <nb-card-body>
    <button
      nbButton
      type="button"
      status="danger"
      (click)="showDeleteUser(deleteUserDialog)"
    >
      Delete User
    </button>
  </nb-card-body>
</nb-card>

<ng-template #deleteUserDialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete User?</nb-card-header>
    <nb-card-body>
      <p>
        Do you really want to delete the user? It will not be accessible any
        more and cannot be restored! If not sure, preferably only deactivate the
        user.
      </p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" status="danger" (click)="deleteUser(ref)">
        Delete
      </button>
      <button nbButton type="button" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!--<pre>{{ profileData | json }}</pre>-->
