@import "../../../../themes";

nb-user {
  cursor: pointer;
  display: inline-flex;
}

.fill-card {
  align-self: stretch;
  height: 100%;
}

.center-body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.picture-preview {
  position: relative;
  display: inline-flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;

  &.editable {
    cursor: pointer;
  }
  //overflow: hidden;

  background-color: nb-theme(user-picture-box-background-color);
  border: nb-theme(user-picture-box-border-width) solid
    nb-theme(user-picture-box-border-color);
  color: nb-theme(user-initials-text-color);
  font-weight: nb-theme(user-initials-text-font-weight);
  font-family: nb-theme(user-initials-text-font-family);
  font-size: 4rem;

  &.round {
    border-radius: nb-theme(user-round-border-radius);

    img {
      border-radius: nb-theme(user-round-border-radius);
    }

    .overlay {
      border-radius: nb-theme(user-round-border-radius);
    }
  }

  &.rectangle {
    border-radius: nb-theme(user-rectangle-border-radius);

    img {
      border-radius: nb-theme(user-rectangle-border-radius);
    }

    .overlay {
      border-radius: nb-theme(user-rectangle-border-radius);
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    flex-direction: column;

    color: nb-theme(text-alternate-color);
    font-weight: nb-theme(user-name-text-font-weight);
    font-family: nb-theme(user-name-text-font-family);
    font-size: 1rem;

    height: 100%;
    width: 100%;

    justify-items: center;
    justify-content: center;
    align-items: center;

    background-color: nb-theme(color-basic-transparent-600);
  }

  &:hover .overlay {
    display: flex;
  }
}
