<app-table-form-array-edit
  title="Groups / Roles"
  addTitle="Add Group"
  [data]="accessGroupsFormArray"
  [allData]="allGroupsData$ | async"
  [columnsView]="columnsView"
  [columnsEdit]="columnsEdit"
  [columnsAdd]="columnsAdd"
  [idControl]="idControl"
  [idAllData]="idAllData"
  (addEntry)="addGroup($event)"
></app-table-form-array-edit>

<ng-template #rolesSelect let-column="column" let-row="row">
  <input
    nbInput
    type="text"
    fullWidth
    placeholder="Roles"
    [(ngModel)]="row.data.controls[column.key].value"
    (ngModelChange)="updateRoleInput(row, $event)"
  />
</ng-template>
