<app-table-form-array-edit
  title="Users / Access"
  addTitle="Add User"
  [data]="accessFormArray"
  [allData]="allUsersData$ | async"
  [columnsView]="columnsView$ | async"
  [columnsEdit]="columnsEdit$ | async"
  [columnsAdd]="columnsAdd$ | async"
  [idControl]="idControl"
  [idAllData]="idAllData"
  (addEntry)="addUser($event)"
></app-table-form-array-edit>

<ng-template #emailAllowedForwardCheckbox let-column="column" let-row="row">
  <nb-checkbox
    fieldSize="medium"
    [formControl]="row.data.controls[column.key]"
    (click)="$event.stopPropagation()"
  ></nb-checkbox>
</ng-template>

<ng-template #emailForwardCheckbox let-column="column" let-row="row">
  <nb-checkbox
    fieldSize="medium"
    [formControl]="row.data.controls[column.key]"
    (click)="$event.stopPropagation()"
  ></nb-checkbox>
</ng-template>

<ng-template #emailPostboxAccessCheckbox let-column="column" let-row="row">
  <nb-checkbox
    fieldSize="medium"
    [formControl]="row.data.controls[column.key]"
    (click)="$event.stopPropagation()"
  ></nb-checkbox>
</ng-template>

<ng-template #emailMailingListNotifyCheckbox let-column="column" let-row="row">
  <nb-checkbox
    fieldSize="medium"
    [formControl]="row.data.controls[column.key]"
    (click)="$event.stopPropagation()"
  ></nb-checkbox>
</ng-template>
